* {
    margin: 0;
    padding: 0;
}

.limita-largura {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}

.topo, .rodape {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    background: #ff8014;
    color: #fff;
    font-size: 20px;
}

body {
    font-family: sans-serif;
}

.apresentacao {
    width: calc(100% - 70px); /* para que nao tenha barra horizontal a largura foi definida de forma relativa*/
    overflow-y: scroll; /* barra de rolagem vertical*/
    height: 315px; /*altura fixa*/
}

.galeria{
    width: calc(100% - 70px);
}

.area {
    margin: 20px 35px;
}

.apresentacao img, .area p, .area-tres-imagens {
    width: 100%;
    margin: 15px 0;
}

.area-tres-imagens {
    display: flex;/*flexbox foi utilizado para as img ficarem lado a lado*/
    overflow-x: scroll; /*barra de rolagem horizontal para navegas pelas fotos*/
}

.galeria img {
    width: calc((100% / 3) - 3px);
    margin: 0 1.5px;
}